*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(10, 10, 10, 0.78);
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#main button{
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    -moz-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    -ms-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

.btnContainer .block{
    background-color: #f11212;
    color: #f9f3f3;
    cursor: pointer;
}
.btnContainer .Unblock{
    background-color: #12f121;
    color: #f9f3f3;
    cursor: pointer;
}

#main  button:hover{
    background-color: #f9f3f3;
    color: #000;
    
}
#main h2{
    color: #f9f3f3;
    font-size: 30px;
    margin-bottom: 20px;
}
